body{
	background: #abc;
}

#search-box{
	margin: 10% auto;
	text-align: center;
	position: relative;
}

#search-icon{
	margin-top: 200px;
	text-align: center;
	cursor: pointer; 
}


.hidden{
	display: none;
}

.show{
	display: block;
}

.search-info{
	font-size: 40px;
	text-transform: capitalize;
	text-align: center;
}

.fa-times{
	position: absolute;
	left: 638px;
	top: 0px;
}

#random-wiki{
	width: 80px;
	height: 30px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#button-container{
	text-align: center;
}

.border{
	border: 1px solid red;
}

input{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	outline: none;
	border-color: green;
	border-style: solid;
	border: 3px solid orange;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	font-family: serif, "Times New Roman", Times;
	letter-spacing: 2px;
	margin: 0 auto;
}





